body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: gray;
}

figcaption {
  font-size: 15px;
  text-align: center;
}

#featured-property p {
  width: 800px;
  margin: auto;
}

#details div {
  float: left;
  text-align: center;
  background-color: red;
  width: 25%;
}

